<html>
    <head>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type= "text/css" href="style.css">
        <title>MOVIE LOOK UP</title>
    </head>   
    <body>
        
        <div class="container">
            <div id="app">
                <form>
                    <label>Enter Movie Title</label>
                      <input id="movieInput" type="text" value=""></input><br/>
                      <button v-on:click="getMovie">Submit</button>
                </form>
                
              
                
                
                <div v-if="movieFound">
                  <div v-for="movie in movies">
                    <div class="wrapper">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img v-bind:src="movie.imageSource" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{movie.original_title}}</h5>
                        <p class="card-text">{{movie.overview}}</p>
                        <p class="card-text"><small class="text-muted">{{movie.release_date}}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                    </div>
                </div>
                </div>
                <div v-else></div>
            </div>
        </div>
       
        
         <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="app.js"></script>
    </body>
    <footer><a href="https://github.com/parkermurray21/creative-project-3/tree/master" target=blank>Github.com</a></footer>
</html>
