
body{
    background-color: lightgrey;
    min-height: 90vh;
}
form{
    background-color: black;
    color:white;
    padding:25px;
    content:center;
    text-align: center;
    border: 10px solid;
    border-color: yellow;
    
}

.card{
    height:auto;
    width: 50vw;
    text-align: center;
    display: inline-block;
    
}

.wrapper{
    text-align: center;
}

footer {
  bottom: 0px;
  height: 5vh;
  width: 100vw;
  background-color: black !important;
  color: lightgrey !important;
  text-align: center;
  
}